
.show_container{
    max-width: 500px;
    margin: 10vh auto;
    padding: 10px;
}

.card{
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(4, 4, 4);
    padding: 20px;
}
.card Button{
    width: 25%;
}
.para{
    background-color: #b3b3b3;
    /* height: 50px; */
    border-radius: 10px 10px;
    padding:20px 30px;
    margin: 10px 0;
}
.dlt Button{
    background-color: red;
}
/* .comment{
    margin:auto 20px;
    padding: 10px;
} */

.comment Button{
    width: 25%;
    background-color: black;
}
.comment Button:hover{
    background-color: rgb(56, 55, 55);
}
.comment Button:active{
    background-color: rgb(0, 0, 0);
}
