h2{
    /* color: #030303; */
    margin: 10px 5px;
}
textarea{
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    height: 120px;
    outline: none;
    resize: none;
    width: 100%;
    border: 1px solid rgb(125, 125, 125);
}
